@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
:root {
    --gray: #333333;
    --yellow: #F2C94C;
    --orange: #F2994A;
    --purple: #BB6BD9;
    --red: #EB5757;
    --darkBlue: #2F80ED;
    --blue: #2D9CDB;
    --lightBlue: #56CCF2;
    --green: #6FCF97;
}

body {
    height: 100vh;
    background: black;
    font-family: 'PT Sans', Arial, sans-serif;
}

nav .offcanvas-body,
nav .offcanvas-header {
    background-color: var(--gray);
    color: white;
}

nav .offcanvas-header button {
    outline: none;
}

nav .offcanvas-header .close-btn {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    background: url(../img/close-icon.svg) center/1em auto no-repeat;
    border: none;
    background-color: transparent;
}

.navbar-toggler {
    border: unset;
}

.navbar-toggler:focus {
    color: unset;
    border-color: unset;
    box-shadow: unset;
}

.navbar-toggler-icon {
    width: 1.1em;
    height: 1.1em;
    background-image: url(../img/menu-icon.svg) !important;
}

.fixed-bottom {
    z-index: unset;
    bottom: 15px;
    right: 10px;
    left: 10px;
}